#container{
    // outline: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 4rem;

    .logo{
        display: flex;
        flex-direction: column;
        color: white;
        >span{
            display: flex;
            align-items: end;
            img{
                height: 2rem;
            }
            &.detail{
                font-size: 0.8rem;
            }
            &.title{
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
    }
}